@page "/Usuarios"
<h3>Lista de Usuarios </h3> 


@if(usuariosLista == null )
{
   <div class="spinner"></div>

}
else 
{
   
  <table class="table">
        <thead>
            <tr>
                <th>cod</th>
                <th>user</th>
                <th>rol</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in usuariosLista)
            {
                <tr>
                    <td>@user.cod</td>
                    <td>@user.user</td>
                    <td>@user.rol</td>
                    <td>
                       
                    </td>
                   

                </tr>
            }
        </tbody>
    </table>
}